!!!
%html{:lang => (session[:locale] || 'en')}
  %head
    %meta{:charset => "utf-8"}
    %title= page_title
    %meta{:name => "description", :content => @meta[:description]}
    %meta{:name => "author", :content => t.template.meta.author}
    %meta{:name => "robots", :content => @meta[:robots]}
    - unless @canonical_url.blank?
      %meta{:name => 'canonical', :content => @canonical_url.gsub(/\s/m, '_')}
    = yield_content(:meta) if content_for?(:meta)

    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}

    <!--[if lt IE 9]>
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->

    %link{:href => "/css/default.css", :rel => "stylesheet"}
    = yield_content(:css) if content_for?(:css)

    %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:type => "text/javascript", :src => "/js/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src => "/js/site.js"}
    %script{:type => "text/javascript"}
      - unless prod?
        var _gaq = {push:function(a) {console.log('GA: '+ a.toString());}};

      var _gaq = _gaq || [], _gaq_last_pageview = location.href;
      _gaq.push(['_setAccount', '#{configatron.ganalytics_id}']);
      _gaq.push(['_setDomainName', '#{request.host}']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

    = yield_content(:js) if content_for?(:js)

  %body{:class => @body_class.join(' ')}
    = yield_content(:page_top) if content_for?(:page_top)

    - # HEADER!!!!
    %header#header
      .container.c
        %h1#logo.print
          %a{:href => "/", :title => t.name}= t.name
        %aside#options
          %ul.nav
            %li#options_map
              %a{:href => 'javascript:;', :title => 'View Map'} [m]
            %li#options_current_loc
              %a{:href => 'javascript:;', :title => 'Current Location'} [x]
            %li#options_search
              %a{:href => 'javascript:;', :title => 'Search'} [s]

    %article#content
      .container.c
        - if content_for?(:feature)
          %section#feature= yield_content(:feature)

        - if content_for?(:heading)
          %header#heading= yield_content(:heading)

        - if content_for?(:answer)  
          %section#answer= yield_content(:answer)
          %aside#search
            %form{:action => '/', :method => 'get'}
              %fieldset
                %legend.print= t.defaults.search
                - v = @place.search.query rescue nil
                - v ||= @place.name rescue nil
                - v ||= params[:q]
                %input#search_field{:type => 'text', :name => 'q', :value => v}

          %aside#loading{:style => 'display:none'}= t.defaults.loading

        = yield

        - if content_for?(:footnotes)
          %footer#footnotes= yield_content(:footnotes)

    %aside#map
      #map_area
        - # Google map goes here

    %footer#footer
      .container.c
        %aside#credits= t.template.footer.credits( l(Time.now, '%Y') )
        %aside#powered
          = t.template.footer.powered

        - if false
          %aside#powered
            - # One day, this will include more languages!
            - if APP_LOCALES.size > 1
              %ul.nav.locales
                - APP_LOCALES.each do |k,v|
                  %li{:class => (k.to_s == session[:locale] ? 'selected' : '')}
                    %a{:href => "?locale=#{k.to_s}"}= v


    = haml :'layouts/_page_bottom'

    = yield_content(:page_bottom) if content_for?(:page_bottom)